
body {
    position: relative;
    min-height: 100%;
    background: #f7f9fe;
    color: #363636;
    font-size: 16px;
    line-height: 2;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
}
img {
    max-width: 100%;
    transition: all 0.2s ease 0s;
    border-style: none;
}
@keyframes slide-in-op {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes showCover {
    from {
        opacity: 0;
        transform: rotate(10deg) translateY(-8%) scale(1.2);
    }
    to {
        opacity: 0.5;
        transform: rotate(10deg) translateY(-10%) scale(1.5);
    }
}
#page-header:not(.full_page){
    background-image: none !important;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-position: center center;
    background-color: #f7f9fe;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.6s;
    overflow: hidden;
    height: 25rem;
}
#page-header:not(.full_page):before {
    height: 25rem;
    opacity: 0;
    background-color: #4080e0 !important;
    animation: slide-in-op 0.6s 0s forwards;
    transition: 0.3s;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    content: "";
}

#page-header #cover{
    display: block;
    opacity: 0.5;
    animation: showCover 1s 0.3s backwards;
    transform: rotate(10deg) translateY(-10%) scale(1.5);
    width: 70%;
    height: 100%;
    position: relative;
    margin: 0 -20% 0 auto;
    overflow: hidden;
    margin-bottom: 0;
    filter: blur(10px);
}
#page-header #post-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 50vw;
  min-height: 20rem;
}
.cover:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    box-shadow: 110px -130px 300px 60px #4080e0 inset;
}


#page-header #nav{
    box-shadow: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    z-index: 1000 !important;
}
#page-header #nav a{
    color: #fff;
}
#page-header #page-site-info{
    top:45%;
    display: flex;
    flex-direction:row;
    justify-content: center;
}
#page-site-info #site-title{
    width:80%;
    font-weight: 700;
    font-size: 2.6rem;
    text-align: center;
    vertical-align: middle;
}

#page-header #post-info {
    position: absolute;
    top: 0;
    right:0;
    padding: 0 3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% + 0px);
    justify-content: center;
}
#post-info .post-title {
    color: #fff;
    font-weight: 700;
    font-size: 3.26rem!important;
    line-height: 1.2;
    text-align: center;
    margin: 1rem 0 1rem 0!important;
    -webkit-line-clamp: 2;
    padding: 0;
    overflow: hidden
}
#post-info #post-meta{
    font-size: 1rem;
    font-weight:400;
    color:#fff;
}
#post-info #post-meta a{
    font-size: 1rem;
    font-weight:400;
    color:#fff;
}
#recent-posts > .recent-post-item >.recent-post-info > .article-title {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    font-weight: bold;
}

/* 文章顶部波浪效果 */
/* 波浪css */
.main-hero-waves-area {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -11px;
    z-index: 5;
  }
  .main-hero-waves-area .waves-svg {
    width: 100%;
    height: 60px;
    fill: #f7f9fe !important;
  }
  /* Animation */
  
  .parallax > use {
    animation: move-forever 30s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: var(--heo-background);
    opacity: 0.5;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: var(--heo-background);
    opacity: 0.6;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: var(--heo-background);
    opacity: 0.7;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: var(--heo-background);
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .main-hero-waves-area {
      display: none;
    }
  }